@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .nav_active::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ebc989;
  }

  .header_hover::after {
    content: "";
    display: none;
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ebc989;
  }
  .productInfor_compare_underLine {
    position: relative;
    z-index: 1;
  }
  .productInfor_compare_underLine::after {
    content: "";
    position: absolute;
    left: 13px;
    bottom: 61%;
    width: calc(64% + 0.2em);
    height: 5%;
    margin-left: -0.15em;
    transform: skew(-12deg) translateX(0);
    background: #ebc989;
    z-index: -1;
  }
  .home_generations_underline::after {
    content: "";
    position: absolute;
    right: 17px;
    bottom: 81%;
    width: calc(39% + 0.2em);
    height: 5%;
    margin-left: -0.15em;
    transform: skew(-12deg) translateX(0);
    background: #ebc989;
    z-index: -1;
  }
  .home_select_child::after {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 8px;
    width: calc(65% + 0.2em);
    height: 8%;
    margin-left: -0.15em;
    transform: skew(-12deg) translateX(0);
    background: #ebc989;
    z-index: -1;
  }
  .header_hover:hover {
    color: #ebc989;
  }
  .header_hover:hover.header_hover::after {
    display: block;
  }
  .card_home {
    transition: all 0.2s ease-in-out;
  }
  .card_home_nav {
    bottom: 0;
    z-index: 9;
    position: absolute;
    height: 0;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .card_home:hover .card_home_nav {
    height: 60px;
  }
  .modal_InforProduct {
    width: 960px !important;
  }
  .home_introduce_imgMain:hover .home_introduce_text,
  .home_introduce_img1:hover .home_introduce_text {
    bottom: 30px;
    transition: all 0.3s ease-out;
  }
  .home_introduce_text::after {
    content: "";
    position: absolute;
    height: 8px;
    border-radius: 3px;
    background-color: gainsboro;
    width: 0;
    z-index: 50;
    transition: all 0.3s ease-out;
  }
  .home_introduce_text {
    bottom: 0;
    /* background: linear-gradient(
      90deg,
      rgba(161, 158, 158, 0.215),
      rgba(161, 158, 158, 0.215)
    ); */
  }
  .home_introduce_imgMain:hover .home_introduce_text::after,
  .home_introduce_img1:hover .home_introduce_text::after {
    width: 100px;
  }
  .home_introduce_imgMain::after {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  .home_introduce_imgMain:hover.home_introduce_imgMain::after {
    background: rgba(0, 0, 0, 0.4);

    transition: all 0.6s ease-out;
  }
  .home_introduce_imgMain:hover .home_introduce_text {
    z-index: 9;
  }

  .bed_sets:hover,
  .Sleepwear:hover,
  .Pyjamas:hover,
  .Nighties:hover,
  .Bathrobes:hover,
  .Classic:hover,
  .Fancy:hover,
  .More_products:hover {
    cursor: pointer;
    transition-delay: 250ms;
    transform: translateY(-30px);
    transition: all 0.3s ease-out;
  }
  .bed_sets::after,
  .Sleepwear::after,
  .Pyjamas::after,
  .Nighties::after,
  .Bathrobes::after,
  .Classic::after,
  .Fancy::after,
  .More_products::after {
    content: "";
    position: absolute;
    background-image: url("https://banner2.cleanpng.com/20181202/jwy/kisspng-arrow-portable-network-graphics-computer-icons-cli-arrow-svg-png-icon-free-download-148297-onlin-5c045d3a202635.0572775015437898821317.jpg");
    background-size: 10%;
    background-repeat: no-repeat;
    height: 60px;
    left: 45%;
    width: 100%;
    z-index: 1;
    display: none;
    overflow: hidden;
  }
  .bed_sets:hover.bed_sets::after,
  .Sleepwear:hover.Sleepwear::after,
  .Pyjamas:hover.Pyjamas::after,
  .Nighties:hover.Nighties::after,
  .Bathrobes:hover.Bathrobes::after,
  .Classic:hover.Classic::after,
  .Fancy:hover.Fancy::after,
  .More_products:hover.More_products::after {
    display: block;
    top: 60px;
    transition: all 0.3s ease-out;
    overflow: hidden;
  }

  @media only screen and (max-width: 486.4px) {
    /* LayoutPage */
    .LayoutPage {
      padding: 0;
    }
    /* footer */
    .footer_container {
      position: static;
    }
    .footer_box {
      flex-direction: column;
      align-items: center;
    }
    .footer_join {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer_join p {
      text-align: center;
      font-size: 14px;
    }
    .footer_service_box {
      margin-top: 60px;
    }
    .footer_service {
      text-align: center;
    }
    .footer_last_box {
      width: 97%;
      padding-bottom: 100px;
    }
    .footer_last {
      height: auto;
      flex-direction: column;
    }
    .footer_last_text {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .footer_copy_center {
      margin-left: 15px;
      margin-right: 15px;
    }
    /* header */
    .header_top {
      display: none;
    }
    .header_nav {
      display: none;
    }
    .header_bar {
      display: block;
    }
    .header_logo_container {
      border: none;
      height: 65px;
    }
    .header_logo_img {
      width: 180px;
    }
    .header_logo_container_fix {
      position: fixed;
      width: 100%;
      padding: 0 36px;
      top: 0;
      display: flex;
      align-items: center;
      height: 60px;
      background-color: #fff;
      z-index: 99;
    }
    /* home */
    .home_container {
      width: 85%;
    }
    .home_line {
      width: 50%;
    }
    .home_box {
      margin-bottom: 0;
    }
    .Bathrobes,
    .Classic,
    .Fancy,
    .More_products {
      left: 0;
    }
    .home_carousel_header {
      flex-direction: column;
    }
    .home_carousel_header_container {
      width: 100%;
      height: 54vh;
    }
    .home_header_select {
      width: 100%;
    }
    .service {
      flex-wrap: wrap;
      justify-content: center;
    }
    .home_carousel_header .slick-dots.slick-dots-bottom {
      bottom: 23px !important;
    }
    .home_carousel_header_imMain {
      height: 350px;
    }
    .home_card_container {
      justify-content: space-between;
      gap: 0;
    }
    .home_cart {
      width: 48%;
      margin-bottom: 50px;
    }
    .header_btn_group {
      flex-direction: column;
      margin: auto;
    }
    .header_goShop {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .home_title_cart_container {
      font-size: 35px;
      line-height: 42px;
    }
    .home_desc_cart {
      font-size: 17px;
      width: 240px;
    }
    .home_silder_container {
      flex-direction: column;
      width: 100%;
      margin-top: 160px;
    }
    .home_silder_img {
      width: 100%;
    }
    .home_silder_img img {
      height: 900px;
    }
    .home_silder_carousel {
      width: 100%;
      height: 680px;
    }
    .home_carousel_title h2 {
      font-size: 40px;
      font-weight: 600;
    }
    .home_carousel_title h6 {
      margin-bottom: 10px;
    }
    .home_carousel_img {
      width: 85%;
    }
    .home_desc p {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 10px;
    }
    .home_chose_container {
      margin-top: 150px;
    }
    .home_chose_title {
      width: 100%;
    }
    .home_chose_title h2 {
      font-size: 36px;
      line-height: 48px;
      font-weight: 600;
    }
    .home_chose_title p {
      width: 100%;
      font-size: 14px;
      font-weight: 500;
    }
    .home_sale_title {
      font-size: 35px;
    }
    .home_chose_select {
      flex-direction: column;
      margin-top: 40px;
    }
    .home_chose_select_img {
      width: 28%;
    }
    .home_chose_select_box {
      width: 100%;
    }
    .home_chose_des p {
      font-size: 14px;
      margin-top: 15px;
    }
    .home_introduce {
      flex-direction: column;
      width: 100%;
    }
    .home_introduce_imgMain {
      width: 100%;
    }
    .home_introduce_text p {
      font-size: 12px;
      text-align: center;
    }
    .home_introduce_text_des {
      text-align: center;
      font-size: 14px !important;
      font-weight: 600;
    }
    .carousel_home_next {
      left: 20px;
    }
    .carousel_home_prev {
      right: 20px;
    }
    .home_introduce_img {
      width: 100%;
    }
    .home_silder_text_container {
      top: 29%;
    }
    .home_silder_text_sale {
      font-size: 80px;
    }
    .home_silder_text_holiday {
      font-size: 40px;
      line-height: 50px;
    }
    .home_silder_text_time {
      flex-direction: column;
      gap: 40px;
      top: 180px;
    }
    .home_silder_text_time_day {
      font-size: 25px;
    }

    .home_sale_container {
      margin-top: 70px;
    }
    .home_sale_container h1 {
      font-size: 36px;
    }
    .home_nameShop {
      width: 90%;
      padding-top: 20px;
      padding-bottom: 50px;
    }
    .home_nameShop_container {
      flex-wrap: wrap;
    }
    .home_nameShop_container li {
      width: 41%;
      margin-bottom: 20px;
    }
    .home_sevice {
      flex-direction: column;
    }
    .home_sevice div {
      flex-direction: column;
    }
    .home_sevice_name {
      margin-left: 0;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .slick-dots.slick-dots-bottom {
      bottom: -60px !important;
    }
    /* productInfor */
    .productInfor_container {
      padding-top: 0;
      flex-direction: column;
    }
    .productInfor_infor {
      width: 100%;
    }
    .productInfor_infor p {
      line-height: 18px;
      font-size: 12px;
      margin-bottom: 10px;
    }
    .productInfor_infor h5 {
      font-size: 30px;
      width: 250px;
      font-weight: 500;
      line-height: 38px;
    }
    .productInfo_list-disc {
      list-style: disc;
    }
    .productInfo_list-disc li {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .productInfor_img {
      width: 100%;
    }
    .productInfor_imgSelect {
      height: 60px;
      width: 60px;
    }
    .productInfor_imgMain {
      height: auto;
    }
    .productInfor_box {
      margin-top: 15px;
      padding-top: 25px;
    }
    .productInfor_tags {
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 6px;
    }
    .productInfor_tags li {
      font-size: 10px;
    }
    .productInfor_category {
      padding: 0;
    }
    .productInfor_box_des_container {
      width: 100%;
    }
    .productInfor_box_des {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .productInfor_friendly {
      flex-direction: column;
      gap: 26px;
    }
    .productInfor_box_img {
      flex-direction: column;
    }
    .productInfor_img {
      margin-bottom: 50px;
      margin-top: 30px;
    }
    .productInfor_img_container {
      width: 100%;
    }
    .productInfor_img_cart {
      width: 100%;
    }
    .productInfor_compare_underLine::after {
      left: 63px;
      width: calc(42% + 0.2em);
    }
    .productInfor_img_cart_des {
      padding-left: 15px;
      padding-bottom: 15px;
      width: 100%;
    }
    .productInfor_img_cart_des p {
      font-size: 12px;
      margin-top: 10px;
    }
    .productInfor_ultricies {
      width: 100%;
      font-size: 13px;
    }
    .productInfo_vesti {
      flex-direction: column;
    }
    .productInfo_vesti_img {
      width: 100%;
    }
    .productInfo_vesti_infor {
      margin-left: 0;
    }
    .productInfo_vesti_infor h1 {
      width: 100%;
      font-size: 35px;
      line-height: 45px;
    }
    .productInfo_vesti_img.cart2 {
      margin-top: 50px;
    }
    .productInfor_compare h1 {
      font-size: 35px;
      width: 90%;
    }
    .productInfor_compare p {
      font-size: 14px;
    }
    .productInfor_compare_container {
      width: 90%;
    }
    .productInfor_compare_card {
      flex-direction: column;
      gap: 40px;
    }
    .productInfor_weight {
      text-align: center;
      font-size: 28px;
    }
    .productInfor_height {
      margin-top: 10px;
    }
    /* canvas */
    .canvasNav_container_body {
      flex-direction: column-reverse;
    }
    .canvasNav_body_nav {
      flex-direction: column;
    }
    .canvas {
      width: 360px !important;
    }
    .canvas_product {
      max-height: 290px;
    }
    .canvas_checkCart {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 0 21px;
      background-color: #f7f7f7;
    }
    /* modal_inforProduct */
    .modal_inforProduct {
      flex-direction: column;
      max-height: 600px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .modal_inforProduct .slick-dots.slick-dots-bottom {
      display: none !important;
    }
    .modal_inforProduct_carousel {
      width: 100%;
    }
    .modal_inforProduct_infor_box {
      padding-left: 0;
      padding-top: 15px;
      overflow: initial;
    }
    .modal_inforProduct_infor_name {
      font-size: 22px;
      font-weight: 600;
    }
    /* controlTop */
    .controlTop {
      display: none;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .header_hover,
  .nav_active {
    margin-right: 15px;
  }
  .header_icon_res li {
    margin-right: 28px;
  }
  .header_logo_container,
  .header_nav_res {
    width: 80%;
  }
}
@media only screen and (max-width: 1286px) {
  .header_logo_container,
  .header_nav_res {
    width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
